page-home {
    .map {
        position: relative;
        min-height: 100%;
        z-index: -1;
    }
    .header-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 10px 5px 10px;
        color: #fff;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    }
    .item-md {
        padding-left: 0;
        margin-bottom: -15px;
        font-size: 2rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        // -webkit-box-shadow: none;
        // box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-md.item-block .item-inner {
        padding-right: 20px;
        padding-left: 20px;
        border-bottom: 1px solid #dedede;
    }
    .info {
        width: 98%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 17px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 142px;
        div {
            color: #fff;
        }
    }
    .tg {
        color: #fff;
        td {
            padding-right: 6px;
        }
    }
    .headerinfo {
        margin-top: 5px;
        padding-bottom: 2px;
        margin-left: 13px;
        margin-right: 10px;
        color: #fff;
        font-size: .8em;
    }
}