page-info {
    .wrap {
        // height: 100%;
    }
    .title {
        color: #fff;
        margin-top: -20px;
        text-align: center;
    }
    .logo {
        width: 30%;
        margin: 20px auto 20px auto;
        display: block;
    }
    .info {
        // color: #000;
        // text-align: left;
        // margin-top: 10px;
        margin: 40px 40px;
        // border-left: 3px solid #ccc;
    }
    .developer {
        // color: #fff;
        // text-align: center;
        // margin-bottom: 20px;
    }
    .contact {
        margin-top: 10px auto;
        // text-align: center;
    }
    .hubungi {
        float: right;
    }
    .share {
        margin-top: -10px;
        text-align: center;
    }
}